<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Contact</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Derya Kilic</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>




        <div class="section-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="section-container-spacer text-center">
              <h1 class="h2">Contact me</h1>
            </div>

            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <form
                  action="/submit_form"
                  method="post"
                  class="reveal-content"
                >
                  <div class="row">
                    <div class="col-md-7">
                      <div class="form-group">
                        <input
                          name="email"
                          type="email"
                          class="form-control"
                          id="email"
                          placeholder="Email"
                        />
                      </div>
                      <div class="form-group">
                        <input
                          name="subject"
                          type="text"
                          class="form-control"
                          id="subject"
                          placeholder="Subject"
                        />
                      </div>
                      <div class="form-group">
                        <textarea
                          name="message"
                          class="form-control"
                          rows="5"
                          placeholder="Enter your message"
                        ></textarea>
                      </div>
                      <button type="submit" class="btn btn-default btn-lg">
                        Send
                      </button>
                    </div>
                    <div class="col-md-5 address-container">
                      <ul class="list-unstyled">
                        <!-- <li>
                          <span class="fa-icon">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                          </span>
                          + 33 9 07 45 12 65
                        </li> -->
                        <li>
                          <span class="fa-icon">
                            <i class="fa fa-at" aria-hidden="true"></i>
                          </span>
                          <a href="mailto:derya.1kilic.3@gmail.com"
                            >derya.1kilic.3@gmail.com</a
                          >
                        </li>
                        <li>
                          <span class="fa-icon">
                            <i
                              class="fa fa fa-map-marker"
                              aria-hidden="true"
                            ></i>
                          </span>
                          Clemmons, NC
                        </li>
                      </ul>
                      <h3>Follow me on social networks</h3>
                      <!-- <a
                        href="http://www.facebook.com"
                        title=""
                        class="fa-icon"
                      >
                        <i class="fa fa-facebook"></i>
                      </a> -->
                      <a
                        href="http://www.github.com/ayredkklc"
                        title=""
                        class="fa-icon"
                      >
                        <i class="fa fa-github"></i>
                      </a>
                      <a
                        href="https://www.linkedin.com/in/derya-kilic-656abb1b8/"
                        title=""
                        class="fa-icon"
                      >
                        <i class="fa fa-linkedin"></i>
                      </a>

                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

<footer class="footer-container text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p>
              Made with Flask and :purple_heart: by Derya
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function(event) {
        navActivePage();
      });
    </script>
</body>
</html>